@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

a {
  text-decoration: none; /* remove link underline */
}

body {
  --selected: rgb(16, 91, 157);
  --clicked: rgb(6, 58, 104);
  --off-black:rgb(40, 40, 40);
  --dark-gray:rgb(70, 70, 70);
  --light-gray:rgb(210,210,210);
  background-color:var(--selected);
  font-family: 'Poppins', sans-serif;

}

.app-button {
  padding: 3px 15px 3px 15px;
  border-radius:10px 10px 0 0;
  margin:10px 0px 0px 10px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5%;
  color:var(--off-black);
  min-width:auto;
  white-space: nowrap;
}

.app-button-wrapper :active {
  color:var(--clicked);
}

.app-button-wrapper .active {
  color: white;
  background: var(--selected);
  font-weight:600;
}

.app-button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
  font-weight:500;
  font-size:24px;
  margin-bottom: 10px;
  background: rgb(232, 232, 232);
}

.app-tab-wrapper {
  width:90%;
  border-radius: 0.25rem;
  min-height: 24rem;
  margin-left: 5%;
  justify-content: center;
  background: white;
}

.graph-container {
  height: 300px;
  width: 600px;
}

.map-container {
  height: 600px;
  width: 600px;
}

table, th, td {
  border-collapse: collapse;
}

thead {
  background-color: var(--light-gray);
  text-align: left;
}

th {
  border: 1px solid var(--dark-gray);
  padding: 5px;
}

th, td {
  /*Force the table to expand to fill its container. Referencing https://codesandbox.io/s/github/tannerlinsley/react-table/tree/v7/examples/full-width-table?file=/src/App.js*/
  width: 1%;
  /*Make sure that the cell text doesn't wrap unnecessarily*/
  min-width:auto;
  white-space: nowrap
}

tbody tr td{
  padding: 5px;
  border: 1px solid var(--light-gray)
}

.header-internal {
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.map-info {
  padding:10px;
}

.map-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start
}

.map-info-title {
  font-size:20px;
  font-weight:500;
  margin:0px 0px 5px 0px;
}

.map-info-suggestion {
  margin: 0px;
}

.map-info .data-label {
  font-weight:600;
}

.map-info .info-card {
  border: 2px solid var(--dark-gray);
  padding:5px;
  border-radius:10px;
  background-color: var(--light-gray);
}